.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.que{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self:center;
    flex-direction: column;
}